main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

h2{
    width: 70%;
    max-width: 400px;
    text-align: left;
    margin-top: 3rem;
    color: var(--Reseda-green);
}

.register-form{
    width: 70%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--WhiteSmoke);
    border-radius: 0.5rem;
    gap: 1.5rem;
    align-items: center;
    max-width: 400px;
    margin-bottom: 2rem;
}
#captcha{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    border: 0.5px solid #e6e6e6;
    width: 200px;
    position: relative;
    right: 80px;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1),
    0.05em 0.1em 0.1em rgba(0, 0, 0, 0.1);;
}

.register-form div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 80%;
}

.register-button{
    padding: 0.6rem 1rem;
    width: 40%;
    background-color: var(--Reseda-green);
    border: 0px;
    border-radius: 0.25rem;
    color: var(--WhiteSmoke);
}

.register-button:hover{
    background-color: var(--Reseda-green-hover);
}

.register-form input[type=email], .register-form input[type=password], .register-form input[type=text]{
    border: 0.1px solid #e0e0e0c4;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1),
    0.05em 0.1em 0.1em rgba(0, 0, 0, 0.1);;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

